.main-container {
    text-align: center;
}

.main-container table {
    margin: 2rem auto;
}

h1 {
    margin-bottom: .3rem;
}

.main-subtitle {
    color: #adb5bd;
    margin-top: 0;
}

#book-table thead {
    background-color: #ef476f;
    color: white;
}

table td {
    padding: 0.3rem 3rem;
}

#book-table tr {
    line-height: 10px;
}

table td:last-child {
    border-right: none;
}

#bookEntry {
    width: 30rem;
    height: 20rem;
    border: none;
    background-color: #99d98c;
    border-radius: .7rem;
    box-shadow: 2px 2px black;
}

#book-info-input {
    padding: 1rem;
    border-radius: .7rem;
    color: #495057;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 1rem;
}

#book-info-input label{
    grid-column: 1;
    padding: .4rem 0;
}

#book-info-input input, 
#book-info-input select {
    grid-column: 2;
    padding: .4rem 0;
    font-size: medium;
    border-radius: .3rem;
    border: none;
}

#book-info-input select {
    color: grey;
}

#book-info-input input:focus{
    appearance: none;
}

#book-info-input input:focus {
    background-color: #adb5bd;
    border:none;
}

button {
    appearance: none;
}

.form-button {
    grid-column: 2;
    align-items: center;
    display: flex;
    justify-content: end;
}

.form-button button {
    padding: 0.4rem 0.7rem;
    margin-left: .4rem;
    background-color: #007f5f;
    border:none;
    border-radius: 0.8rem;
    color: white;
}

#book-table
